* {
  box-sizing: border-box;
  transition: all 2ms linear;
}

html, body {
  background: #fefefe;
  font-family: Verdana, Helvetica, sans-serif;
  font-weight: normal;
  font-weight: 300;
  color: #555;
  min-height: 100%;
}

.container {
}

header {
  text-align: center;
}

hr {
  border-color: #e7e7e7;
}

a {
  color: #41BFCF;
  text-decoration: none;
  &:hover {
    color: #16DAF4;
    text-decoration: underline;
  }
}

h3 {
  font-size: 2em;
}

h4 {
  text-align: center;
  font-size: 2em;
}

h5 {
  font-size: 1.4em;
  span {
    font-size: 0.75em;
  }
  span.default {
    font-style: italic;
    color: #777;
  }
}

form {
  border-radius: 5px;
}

fieldset {
	border: 0px;
	margin: 30px 0px 0px;
	padding: 0px;
}

label {
  font-size: 12px;
  display: block;
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 5px;
}

input[type="email"], input[type="number"], input[type="search"], input[type="text"], input[type="tel"], input[type="url"], input[type="password"], textarea, select {
  line-height: 2;
  height: auto;
  border-radius: 0;
  font-size: 1.1em;
  outline: none;
  &:focus {
    border: 1px solid #c3c3c3;
  }
}
input{
	width: 100%;
	padding: 0 20px 0 10px;
}
::-webkit-input-placeholder {
	font-size: 1.1em;
	line-height: 1.8;
}

button, button:disabled:hover {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9));
	background:-moz-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:-webkit-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:-o-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:-ms-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9',GradientType=0);
	background-color:#f9f9f9;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e9e9e9), color-stop(1, #f9f9f9));
	background:-moz-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:-webkit-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:-o-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:-ms-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#f9f9f9',GradientType=0);
	background-color:#e9e9e9;
	position: relative;

}

button:active {
	position:relative;
	top:1px;
}
button:disabled, button:disabled {
	-webkit-filter: opacity(.5);
}

fieldset + button {
	margin-top: 2em;
}

input:invalid {
	color: #b12424;
}
input:invalid + .help {
	font-size: .7em;
	margin-left: 10px;
	color: #e55;
	position: absolute;
	display: block;
}

input:valid {
	color: #80bf82;
}

input:valid + .help {
	display: none;
}

.selected_course {
	margin: 3em 10px .5em 25%;
	position: relative;
	text-align: right;
}
.selected_course button {
	display: block;
	margin-top: 10px;
}

#course-name {
  min-height:45px;
  font-size: 1.25em;
  max-width:500px;
}

h1 {
	font-size: 1.2em;
	color: rgba(0,0,0,.5);
}
.empty_result {
	font-size: .75em;
	color: rgba(0,0,0,.4);
	font-style: italic;
}

.next {
	float: right;
}

.flex {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	height: 4em;
	width: 100vw;

}
.flex label {
	width: calc(100% - 100vw / 2 );
	display: inline-flex;
	font-size: 1em;
	align-items: center;
	height: 1em;
}
input[type="checkbox"] {
	width: 15px;
	vertical-align: middle;
}

.nav {
	margin-top: 25px;
}
.nav button+button {
	float: right;
}

.paginated-modules {
	list-style-type: none;
	padding-left: 0;
}
.paginated-modules li {
	display: inline-block
}

#wrapper {
  min-width: 600px;
}
